$green-color: #688b58;
$light-green-color: #90c290;
$standart-space: 1em;

a.btn{
    background-color: $light-green-color;
    border-color: $light-green-color;
}

a.btn:hover {
    background-color: $green-color;
    border-color: $green-color;
}

div.row {
    margin: $standart-space + 1;
}

header {
    margin-bottom: $standart-space;
    padding: $standart-space;
}

footer {
    padding: $standart-space;
    background-color: $light-green-color;
    
    div{
        font-size: x-small;
        color: $green-color;
    }
}

main{

        text-align: center;
    h1 {
        margin: $standart-space;
    }
    img{
        margin-bottom: $standart-space+3;
    }

    .card-columns{
            margin: $standart-space+3;
        }
    }

a:link {
    color: $green-color;
}

@media (max-width: 1200px) {
    footer{
        height: 30%;

        div {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
